body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

header {
    background-color: #105483;
    padding: 35px 16px 28px 16px;
}

.headerimage {
    position: relative;
}

.menugenerale {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listamenu ul {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.listamenu ul a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.listamenu ul a:hover {
    text-decoration: underline;
}

.containerimage {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 70px;
    padding: 0px 0px 0px 0px;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 64px 16px;
}

/*.container {
    max-width: 1200px;
    margin: auto;
    padding: 150px 0px;
}*/

.text-container {
    position: absolute;
    color: white;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    font-family: "Playfair Display";
}

.text-container h1 {
    margin: 0 auto;
    max-width: 1200px;
    font-size: 88px;
    padding: 0 16px;
}

.menugenerale {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listamenu ul {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.listamenu ul a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.listamenu ul a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0 32px;
}

.testointerno, .poesia p {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.testointerno p {
    font-size: 23px;
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
    /*margin-top: 4rem;*/
}

.poesia p {
    font-style: italic;
    font-size: 23px;
    margin-bottom: 1.5rem;
    line-height: 2rem;
}

.testointerno h2 {
    font-size: 20px;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

.contenuto h2 a {
    color: #b7410e;
    text-decoration: none;
}

.contenuto h2 a:hover {
    text-decoration: underline;
}


.contenuto h1, .opere h1 {
    text-align: center;
    font-size: 60px;
    color: #105483;
    font-family: serif;
    padding: 40px 0;
    margin-bottom: 40px;
}

.contenuto h3 {
    text-align: center;
    font-size: 20px;
    padding: 64px 0;
}

.contenuto h3 a {
    color: #b7410e;
    text-decoration: none;
}

.contenuto h3 a:hover {
    text-decoration: underline;
}

.galleria-immagini {
    display: flex;
    gap: 16px;
    margin-top: 4rem;
}


footer {
    background-color: #105483;
    padding: 36px 16px;
}

.container-footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 16px;

}

.imgappstore {
    display: flex;
    gap: 20px;
    margin-top: 1.5rem;
}

.container-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    margin-top: 32px;
}

.container-card img {
    height: 350px;
    width: 100%;
    object-fit: cover;
}

.contenuto img {
    margin-bottom: 4rem;
    max-width: 100%;
    display: block;
}


.testointerno {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.paragrafocard {
    font-size: 21px;
    margin-bottom: 1.5rem;
    line-height: 1.5;
    margin-top: 1.5rem;
}

.paragrafocard {
    color: black;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
}

.titolocard {
    color: #105483;
    font-family: "Playifard Display";
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.container-card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;

}

.container-card img {
    height: 350px;
    width: 100%;
    object-fit: cover;
}

.titolocard2 {
    background-color: #105483;
    color: #ffffff;
    font-family: "inter";
    font-size: 11px;
    padding: 20px;
    text-align: center;
}

.card a {
    text-decoration: none;
}

.titolocard2 :hover{
    text-decoration: underline;
}

.immagine1 {
    width: 100%;
}



.text-container h1 {
    margin: 0 auto;
    max-width: 1200px;
    font-size: 88px;
    padding: 0px 16px;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    padding: 64px 64px;
}

.container-artisti {
    margin: 0 auto;
    max-width: 1200px;
    padding: 64px 64px;
}

.containerimagetour {
    display: flex;
}

.cardinzialitour {
    width: 60%;
}

.cardinzialitour img {
    width: 500px;
}

.gridcolumn2 {
    width: 40%;
}

.containerimagefooter {
    display: flex;
    flex-direction: row;
    align-items: top;
    gap: 180px;
    padding: 20px 0px 80px 0px;
}

.immaginefooter2 {
    margin-top: 64px;
    margin-bottom: 64px;
}

.containerimagefooter h3 {
   color: #105483; 
   font-family: "Playfair Display";
   font-size: 60px;
   font-weight: 700
}

.gridcolumn2 a {
    color: #b7410e;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.gridcolumn2 a:hover {
    text-decoration: underline;
}

/*.footer {
    background-color: #105483;
    padding: 36px 16px;
} 

.container-footer {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 16px;

} */

.imgappstore {
    display: flex;
    gap: 20px;
    margin-top: 1.5rem;
}

.titolocardtour {
    color: #b7410e;
    font-family: "Playifard Display";
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.titolo-scheda-info {
    color: #105483;
    font-family: "Inter";
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
}

/*.container-info {
    margin: 50px 0px;
    border: 1px solid red;
}*/

.info{
    /*border: 1px solid red;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.info-contenuto, .titoletto, .p-card, .p {
    /*border: 1px solid red;*/
    font-family: "Inter";
    line-height: 20px;
    font-size: 15px;
}

.titoletto {
    /*color: green;*/
    margin: 10px 0px;
    font-size: 18px;
}
.p-card {
    /*border: 1px solid blue;*/
    font-weight:bold;

}


@media screen and (max-width:600px) {
    .text-container h1 {
        font-size: 48px;
    }

    .containerimagetour {
        flex-direction: column;
        gap: 32px;
    }

    .cardinzialitour {
        width: 100%;
    }
    
    .cardinzialitour img {
        width: 100%;
    }
    
    .gridcolumn2 {
        width: 100%;
    }
}




@media (max-width: 400px) { 
    
    
    header {
        flex-direction: column;
        gap: 10px;
        
    }

    .menugenerale {
        gap: 40px;
    }

    .logomenu img {
        max-width: 80%;
    }

    .listamenu ul a {
        font-size: 16px;
    }

    .text-container h1 {
        font-size: 30px;
        line-height: 30px;
    }

.container {
    padding: 32px 32px;

}

.containerimage {
    display: block;
}

.containerimagetour {
    gap: 12px;
}

.containerimagefooter {
    flex-direction: column;
    gap: 0px;
}
   
.titolocard {
    font-size: 30px;
    padding-top: 20px;
    line-height: 34px;
}


.opere h1 {
    font-size: 30px;
    line-height: 34px;
    padding: 20px 0px 20px;
}

.immaginefooter2 {
    margin-top: 40px;
    margin-bottom: 0px;
}

.paragrafocard {
    font-size: 18px;
    line-height: 24px;
}

.containerimagefooter h3 {
    font-size: 30px;
    line-height: 34px;
    }

.gridcolumn2 a {
    font-size: 16px;
}


.testointerno p {
    font-size: 18px;
    line-height: 24px;
}

.contenuto h1 {
    font-size: 30px;
    padding: 18px 0;
}

.testointerno p {
    margin-bottom: 0rem;
    margin-top: 0rem;
    padding-top: 2rem;
}

.container-artisti {
    margin: 0;
    max-width: 1200px;
    padding: 16px 32px;
}

.container-card img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.titolocardtour {
    font-size: 30px;
}

.poesia p {
    font-size: 14px;
    line-height: 22px;
}

.info {
    margin: 20px 0px;
    border: 1px solid white;
    display: block;
    max-width: 50%;
}

.container-info {
    display: grid;
    margin: 0;
}

.titolo-scheda-info {
    margin: 0;
    font-size: 20px;
}

}